<div appDroppable [curLaneName]="lane.name" (dropped)="swapItems($event)" [id]="lane.name" [type]="'lane'" class="lane-home">
  <h5 class="lane-title mb-15">{{lane.display}}</h5>
  <div appSortable (sort)="sort($event)" class="lane-cards-container">
    <div appDraggable [dto]="{card: card, fromLane: lane.name}" *ngFor="let card of lane.cards">
      <app-card (removeCard)="removeCard($event)" [lane]="lane.name" [card]="card"></app-card>
    </div>
  </div>
  <div *ngIf="isAddingCard" class="add-item-form">
    <form [formGroup]="form" (ngSubmit)="addCard($event)">
      <input class="form-control mb-15" placeholder="Title..." type="text" formControlName="display" required/>
      <textarea class="form-control mb-15" placeholder="Description..." formControlName="description"></textarea>
      <div class="row">
        <div class="col-6">
          <button [disabled]="!this.form.valid" type="submit" class="btn btn-primary btn-block">Add</button>
        </div>
        <div class="col-6">
          <button (click)="toggleAddCard($event)" class="btn btn-secondary btn-block">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="!isAddingCard">
    <button (click)="toggleAddCard($event)" class="btn btn-secondary btn-block">Add Card</button>
  </div>
</div>
