.lane-home {
    background-color: #EEE;
    border-radius: 10px;
    padding: 15px;
    overflow: auto;
    max-height: 100%;
    &.current-droppable {
        background-color: #CCC;
    }
}

.add-item-form {
    padding: 10px;
    border-radius: 10px;
    background-color: #CCC;
}